body,
html {
  font-family: 'Play', sans-serif;
}

.inline-form {
  display: inline;
}


.card-dashboard {
  height: 140px;
}

[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: relative;
  left: 0;
  visibility: visible;
}

.radio-btn {
  margin: 0 10px;
  position: relative;
  left: 0;
  visibility: visible;
}
