<div class="container">
  <header class="row">
    <div class="col s12 m12 l12 center-align">
      <h1 class="cyan-text text-accent-2">Register a New Robot</h1>
    </div>
  </header>

  <form class="col s12 m12 l12 cyan-text" action="/robots" method="post">
    <div class="row">
      <div class="input-field col s12 m12 l12">
        <input id="name" type='text' name='robot[name]'/><br/>
        <label for="name">Name</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m6 l6">
        <input id="city" type='text' name='robot[city]'/><br/>
        <label for="city">City</label>
      </div>

      <div class="input-field col s12 m6 l6">
        <input id="state" type='text' name='robot[state]'/><br/>
        <label for="state">State</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m12 l12">
        <input id="avatar" type='text' name='robot[avatar]'/><br/>
        <label for="avatar">Avatar URL</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m6 l6 grey-text">
        Birthdate:
        <input id="birthdate" type='date' name='robot[birthdate]'/><br/>
      </div>

      <div class="input-field col s12 m6 l6 grey-text">
        Date Hired:
        <input id="hired_on" type='date' name='robot[hired_on]'/><br/>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m6 l6">
        Department:
        <input type="radio" name="robot[department]" id="Service" value="service" checked> Service
        <input type="radio" name="robot[department]" id="Transporation" value="transportation"> Transportation
      </div>
    </div>

    <button class="btn waves-effect waves-light" value="Submit" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>

  </form>
</div>
